nav {
  position: relative;
  z-index: 1;
  top: 20px;
  .mainDivForNAvbar {
    display: flex;

    justify-content: space-between;
    align-items: center;
    .mainLogoDiv {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 80px;
        height: 80px;
      }
      .pageNameDiv {
        padding-left: 10px;
        p {
          font-weight: bold;
          font-size: 18px;
        }
      }
    }
    .pageNavbar {
      // border: 1px solid red;
      ul {
        display: flex;
        gap: 20px;
        li {
          a {
            text-decoration: none;
            color: black;
            &:hover {
              color: rgb(9 110 251);
            }
          }
        }
      }
    }
    .loginRegistDiv {
      display: flex;

      #serachDiv {
        font-size: 24px;
        border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        cursor: pointer;
      }
      .mainDivQeydDaxil {
        display: flex;
        gap: 10px;
        button {
          width: 100%;
          background-color: transparent;
          border: 2px solid rgb(9 110 251);
          cursor: pointer;
          padding: 3px;
        }
      }
    }
  }
  // daxil olma
  .navLogInPage {
    position: absolute;
    top: 200px;
    z-index: -1;
    width: 100%;
    height: 100px;
    // height: 0;
    opacity: 0;
    border: 1px solid rgb(11, 156, 11);
    display: flex;
    justify-content: center;
    align-items: center;
    form {
      display: flex;
      flex-direction: column;
      width: 50%;
      margin-top: 10px;
      margin-bottom: 20px;
      h3 {
        border: 1px solid rgb(71, 29, 221);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 20px;
        height: 35px;
      }
      .usernameDiv {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        label {
          width: 50%;
          padding-left: 5px;
        }
        input {
          height: 30px;
          width: 50%;
          padding-left: 5px;
          border: none;
          border-radius: 10px;
        }
      }
      .passwordDiv {
        width: 100%;
        display: flex;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        label {
          width: 50%;
          padding-left: 5px;
        }
        input {
          height: 30px;
          width: 50%;
          padding-left: 5px;
          border: none;
          border-radius: 10px;
        }
      }
      #enterBtn {
        height: 38px;
        font-size: 18px;
        border: none;
        border-radius: 10px;
        background-color: transparent;
        cursor: pointer;
        &:hover {
          background-color: rgb(3, 112, 30);
          color: white;
          transition: 500ms;
        }
      }
    }
    &.hiddenDiv {
      height: 250px;
      opacity: 1;
      transition: 800ms;
    }
  }
  // registr
  .navRegistrPage {
    border: 1px solid red;
  }

  .logInExitBtn {
    position: absolute;
    top: 200px;
    right: 0;
    z-index: 10;
    width: 30px;
    height: 30px;
    background-color: red;
    color: white;
    cursor: pointer;
    font-size: 20px;
    display: none;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: rgb(3, 112, 30);
      color: white;
      transition: 500ms;
    }
  }
}
